.App {
  margin: 0;
  text-align: center;
  min-height: 100vh;
  max-width: 100vw;
  text-align: center;
  background-image:  linear-gradient(
     100deg,
     rgba(0,0,0,0.6),
     rgba(0,0,0,0.6)
 ) 
 , url(https://i.gifer.com/OzZg.gif);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-size:cover;
  
}

@font-face {
  font-family: "MetalSlug";
  src: url("../../MetalSlug4.TTF")
}

@font-face {
  font-family: "MetalSlug3";
  src: url("../../MetalSlug3.ttf")
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
