.container {
    margin: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content:center;
    gap: 1.5em;
    flex-wrap: wrap;
}

.cards {
    width: 13em;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(
        135deg,
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.1)
    );
    backdrop-filter: blur(21px);
    -webkit-backdrop-filter: blur(21px);
    border: 1px solid rgba(255,255,255,0.1);
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,1);
    border-radius: 24px;
    padding: 10px;
}